/* Default Styles */

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 100%;
}

/* Variables */

:root {
  /* colors */
  --sand-40: #fcfff2;
  --sand-50: #e2e6d5;
  --green-40: #a3e7a3;
  --green-50: #45cc45;
  --green-60: #047c04;
  --red-50: #ed6f5f;
  --red-60: #cf412e;
  --blue-20: #aac3ec;
  --blue-30: #6996df;
  --blue-40: #3c73cc;
  --blue-50: #2968ce;
  --blue-60: #124391;
  /* grey scale */
  --grey-10: #e5eef7;
  --grey-20: #c0ccd6;
  --grey-30: #a2b5c5;
  --grey-40: #768a9b;
  --grey-50: #536777;
  --grey-60: #2a3136;
  --white: #fff;
  --black: #000;
  /* other */
  --ff-primary: 'Open Sans', sans-serif;
  --transition: all 0.3s ease-out;
}

/* Main Content */

body {
  font-family: var(--ff-primary);
  background: var(--blue-20);
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1.5rem;
  background: radial-gradient(var(--blue-20), var(--blue-30));
  color: var(--grey-50);
  border-bottom: 10px solid var(--blue-60);
  text-align: center;
  font-weight: 700;
}
header h1 {
  color: var(--grey-10);
  font-size: 3rem;
  text-decoration: underline;
}

/* Date Input */

.date {
  margin: 0 42%;
  padding: 0.2rem 0;
  background: var(--grey-10);
  border-radius: 0.25rem;
  border: none;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  transition: var(--transition);
}
.date:hover {
  cursor: pointer;
  background: var(--blue-60);
  color: var(--sand-50);
  text-shadow: 1px 1px 2px var(--green-40);
}

/* Planner */

.planner {
  margin: 1rem 5%;
  background: var(--grey-10);
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: inset 0px 0px 5px 5px var(--blue-20);
}

/* Layout of Entries and Content */

.entry-section {
  padding: 0.15rem;
  margin: 0.5rem 0.25rem;
  border-radius: 0.35rem;
}
.entry {
  display: flex;
  width: 100%;
  padding: 0.15rem;
  border-radius: 0.5rem;
  position: relative;
}
.sub-section {
  display: flex;
  padding-left: 5%;
  animation: dropdown 0.3s;
}

.hour,
.save {
  width: 15%;
}
.hour,
.half-hour {
  position: relative;
  cursor: pointer;
  text-align: right;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background: linear-gradient(108deg, transparent, var(--sand-40));
  font-weight: 700;
  font-size: 0.8rem;
  transition: var(--transition);
}
.hour:hover,
.half-hour:hover {
  background: linear-gradient(42deg, var(--sand-40), transparent);
  text-shadow: -1px 1px 0px var(--green-50);
}

.half-hour {
  width: 12%;
  font-family: var(--ff-primary);
  font-size: 1rem;
}
.notes,
.sub-notes {
  width: 70%;
  background: linear-gradient(var(--sand-50) 71%, var(--grey-40));
  padding: 1rem 2rem;
  font-size: 1.6rem;
  transition: var(--transition);
}

.sub-notes {
  width: 72%;
}
.notes:hover,
.sub-notes:hover {
  background: linear-gradient(var(--sand-50) 71%, var(--grey-10));
}
.notes:focus,
.sub-notes:focus {
  background: linear-gradient(var(--sand-50) 71%, var(--grey-20));
}
.btn {
  cursor: pointer;
  display: grid;
  place-items: center;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background: var(--blue-50);
  font-size: 2rem;
  position: relative;
  transition: var(--transition);
}

.green {
  background: linear-gradient(var(--green-60), transparent 50%);
  box-shadow: 0px 0px 4px 1px var(--green-60);
}

.red {
  background: linear-gradient(var(--red-50), transparent);
  box-shadow: 0px 0px 4px 1px var(--red-50);
}

.black {
  background: linear-gradient(var(--grey-60), transparent 60%);
  box-shadow: inset 0px 0px 14px 4px var(--grey-50);
}

/* Buttons */

.btn:hover {
  background: var(--blue-30);
}
.save:hover::after {
  content: "save notes";
  position: absolute;
  top: 5%;
  right: 5%;
  color: var(--green-40);
  font-size: 0.75rem;
}
.clear {
  margin: 0 auto;
  background: var(--red-50);
  padding: 0.2rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  font-weight: 700;
}
.delete {
  background: var(--blue-60);
  font-size: 1rem;
  padding: 0 0.35rem;
  color: red;
}

.save-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  justify-content: center;
  background: rgba(165, 184, 201, 0.3);
}
.save-notification {
  padding: 1rem;
  background: var(--green-50);
  color: var(--black);
  border-radius: 2rem;
  box-shadow: inset 0px 0px 5px 5px var(--blue-50);
  font-weight: 700;
  animation: slidein 1.2s;
}

.hide {
  display: none;
}

/* Media Queries */

@media screen and (min-width: 700px) {
  .hour {
    padding: 1rem;
    font-size: 1.2rem;
  }
  .half-hour {
    padding: 0.35rem;
    font-size: 1rem;
  }
  .hour:hover::before {
    content: 'double-click';
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 0.8rem;
    color: var(--blue-60);
    animation: dropdown 0.3s;
  }
}

/* Animations */

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 200%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


@keyframes dropdown {
  from {
    opacity: 0.5;
    margin-top: -5%;
    height: 150%;
  }

  to {
    opacity: 0.5;
    margin-top: 0%;
    height: 100%;
  }
}